@charset "utf-8";

body { 
	background-color: #6699ff; 
	margin: 0; 
	overflow-x: hidden; /* TODO : remove when viewport and scrolling will be added */
}
canvas { 
	display: block; margin: 0 auto; 
	image-rendering: optimizeSpeed;             // Older versions of FF
	image-rendering: optimize-contrast;         // Possible future browsers.
}
.canvas-game {
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	text-align: center;
	z-index: 1;
}
.canvas-background {
	position: absolute;
	left: 0; 
	top: 0; 
	z-index: 0;
}
.container {
	position: relative;
}
.sliding-background {
	background: url("../assets/images/cloud.png") repeat-x;
	height: 480px;
	width: 3600px;
	animation: slide 30s linear infinite;
}
@keyframes slide {
	0% {
		transform: translate3d(0, 0, 0);
	}
	100% {
		transform: translate3d(-1692px, 0, 0);
	}
}